@import url(https://fonts.googleapis.com/css?family=Montserrat);

svg {
  display: block;
  // position: relative;
  position: inherit;
  font: 5em "Montserrat";
  width: 100%;
  height: 30%;
}

svg > text {
  display: inline-block;
  width: 100%;
}

.text-copy {
  fill: none;
  stroke-dasharray: 6% 29%;
  stroke-width: 10px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #4d163d;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: #840037;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #bd0034;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #bd0034;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #fdb731;
  animation-delay: -5s;
}

.text-copy:nth-child(6) {
  stroke: #ffffff;
  animation-delay: -s;
}

.text-copy:nth-child(7) {
  stroke: #a34314;
  animation-delay: -5s;
}

.text-copy:nth-child(8) {
  stroke: #0000ff;
  animation-delay: -1s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}

@media (max-width: 768px) {
  svg {
    font: 1em "Montserrat";
    width: 80%;
    height: 30%;
  }
}

@media (max-width: 1068px) {
  svg {
    font: 3em "Montserrat";
    width: 100%;
    height: 30%;
  }
}
